:root {
    --modal-padding: 24px;
}

.modal {
    &__title {
        margin: 0px;
        padding: var(--modal-padding) var(--modal-padding) 20px;
    }

    &__body {
        padding: 0px var(--modal-padding) var(--modal-padding);
    }
}
