:root {
    --color-black: #333;
    --color-white: #fff;
    --color-border: #ccc;
    --color-blue: #2196F3;
    --color-error: #F44336;
    --color-success: #6c6;

    --border-radius: 4px;

    --transition-duration: .25s;
}
